
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}
/*/////////////////////VISUALLY-HIDDEN////////////////////////////*/


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reset-fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.reset-text {
 margin: 0;
}

.button-say {
  position: relative;
  top: 45px;
  left: 50px;

  padding: 15px 45px;

  background-color: #fb565a;
  color:#ffffff;
  border-radius: 2px 2px 2px 2px;
}

.button-say:hover {
  background-color: #e74246;
}

.button-say:focus {
 background-color: #d7373b;
 color: #e27173;
}

.button-red:hover {
  background-color: #e74246;
  border-top: 2px solid #e74246;

}

.button-red:focus {
 background-color: #d7373b;
 border-top: 2px solid #c23235;
 color: #e27173;
}

.button-green:hover {
 background-color: #00bc6c;
 border-top: 2px solid #00bc6c;
}

.button-green:focus {
 background-color: #00aa62;
 border-top: 2px solid #009958;
 color: #42c08a;
}

.button-yellow:hover {
  background-color: #eab534;
  border-top: 2px solid #eab534;
}

.button-yellow:focus {
 background-color: #e5a722;
 border-top: 2px solid #cf971f;
 color: #edc164;
}

.button-style {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.button-red {
  padding: 15px 40px;

  border-radius: 2px 2px 2px 2px;
  background-color: #fb565a;
  border-top: 2px solid #fb565a;
  color: #fefaee;
}


.button-green {
  padding: 15px 40px;

  border-radius: 2px 2px 2px 2px;
  background-color: #00ca74;
  border-top: 2px solid #00ca74;
  color: #fefaee;
}

.button-yellow {
  padding: 15px 40px;

  border-radius: 2px 2px 2px 2px;
  background-color: #efc84a;
  border-top: 2px solid #efc84a;
  color: #fefaee;
}

.button-next {
  padding: 13px 78px;
  margin-left: 6px;

  border-radius: 2px 2px 2px 2px;
  color: #0e0e0e;
  background-color: #eeeeee;
  border-top: 2px solid #eeeeee;
}

.pagination-item:hover {
  background-color: #bfbfbf;
  border-top: 2px solid #bfbfbf;
}

.pagination-item:active {
  background-color: #d5d5d5;
  color: #989898;
  border-top: 2px solid #c0c0c0;
}

.button-next:hover {
  background-color: #bfbfbf;
  border-top: 2px solid #bfbfbf;
}

.button-next:active {
  background-color: #d5d5d5;
  color: #989898;
  border-top: 2px solid #c0c0c0;
}


.button-present {
  margin-top: 32px;
  padding: 15px 87px;

  border-radius: 2px 2px 2px 2px;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  color: #030303;
}

.button-catalog {
  padding: 15px 65px;

  border-top: 2px solid #fb565a;
  background-color: #fb565a;
  color: #ffffff;
  border-radius: 2px 2px 2px 2px;
}

.button-catalog:hover {
  border-top: 2px solid #e74246;
  background-color: #e74246;
}

.button-catalog:active {
  border-top: 2px solid #c23235;
  background-color: #d7373b;
}

.sort-list-down:hover,
.sort-list-up:hover {
  opacity: 0.2;
}

.sort-list-down:active,
.sort-list-up:active {
  opacity: 1;
}

.sort-list a:hover,
.sort-list a:hover {
  opacity: 0.2;
}

.sort-list a:active,
.sort-list a:active {
  opacity: 1;
}

/*////////////////////////MAIN//////////////////////*/


.site-navigation a,
.user-navigation a {
  color: #000000;
  padding-bottom: 10px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #cccccc;
}


.main-header {
  background-color: #eeeeee;
}

.main-navigation  {
  display: flex;
  justify-content: space-between;

  font-size: 16px;
  font-weight: 500;
  line-height: 30px;

  color: #000000;
  background-color: #eeeeee;
  text-align: center;
  border-top: 50px solid #eeeeee;
}

.site-navigation {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;

  margin-top: 25px;
}

.site-navigation li {
}

.site-navigation a {
  margin-right: 45px;

  text-transform: uppercase;
}

.user-navigation {
 margin-top: 26px;
 margin-right: 20px;

 text-transform: uppercase;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 41px;
}

.login-link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 2px;

  width: 15px;
  height: 15px;

  background-image: url("img/icon/cart.svg");
  background-repeat:  0 0;
}

.main-header-logo {
  margin-left: 20px;
}

.active a:after {
  content: "";
  position: absolute;
  bottom: 13px;
  left: 233px;
  right: 174px;
  height: 2px;
  background: #fb565a;
}

.pagination .active-pagination {
  padding-right: 17px;

  background: #ffffff;
  border:2px solid #eeeeee;
}

.pagination a {
  transition: background-color 0.6s ease, border-color 0.6s ease;
}



.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


/*///////////////////SLIDER////////////////////////////*/

.site-wrapper {
  min-width: 940px;
  background-color: #eeeeee;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slider {
  position: relative;

  min-height: 410px;
  padding-top: 13px;
}

.slide-title {
  width: 515px;
  margin-bottom: 25px;
  margin-left: 20px;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slide-info  {
  width: 409px;
  margin-bottom: 40px;
  margin-left: 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.slide-info-one  {
  width: 371px;
  margin-bottom: 39px;
  margin-left: 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.slide-info-two {
  width: 409px;
  margin-bottom: 40px;
  margin-left: 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.slide-info-there  {
  width: 345px;
  margin-bottom: 40px;
  margin-left: 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.button-slide {
  display: inline-block;
  margin-left: 20px;
  padding: 16px 54px;

  background-color: #fb565a;
  color:#fee5e6;
  border-radius: 2px 2px 2px 2px;
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 12px;
  height: 11px;
  margin-right: 17px;

  background: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  top: 308px;
  left: 556px;
  z-index: 1;

  font-size: 0;
}

.slide {
  display: none;
}

#product-1:checked ~ .site-wrapper {
  background-color: #eeeeee;
  background-image: url("img/slider/slide1.png");
  background-repeat: no-repeat;
  background-position: 74% 80%;

}

#product-2:checked ~ .site-wrapper {
  background-color: #eeeeee;
  background-image: url("img/slider/slide2.png");
  background-repeat: no-repeat;
  background-position: 74% 80%;
}

#product-3:checked ~ .site-wrapper {
  background-color: #eeeeee;
  background-image: url("img/slider/slide3.png");
  background-repeat: no-repeat;
  background-position: 74% 80%;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  position: relative;

  display: inline-block;
  width: 12px;
  height: 13px;

  background: #c4c4c4;
  border: 3px solid #fbfbfb;
  border-radius: 50%;
  cursor: pointer;
}


/*////////////////////////////features///////////////*/

.features {
 display: flex;
 justify-content: center;
 justify-content: space-between;

 margin-top: 35px;
 margin-left: 20px;
 width: 1200px;
}

.web-sity {
  width: 400px;
}

.application {
 width: 400px;
}

.presentation {
  width: 400px;
}

.features-title {
  position: relative;

  padding-top: 190px;
  margin-bottom: 15px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.features-info {
  width: 244px;
  margin-bottom: 45px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px
}

.web-sity h3::after {
  content: "";

  position: absolute;
  top: 20px;

  right: 100px;
  width: 300px;
  height: 146px;

  background-image: url(img/features/web-sity.jpg);
  background-repeat: no-repeat;
}

.application h3::after {
  content: "";

  position: absolute;
  top: 20px;
  right: 100px;

  width: 300px;
  height: 146px;

  background-image: url(img/features/presentation.jpg);
  background-repeat: no-repeat;
}

.presentation h3::after {
  content: "";

  position: absolute;
  top: 20px;
  right: 100px;
  width: 300px;
  height: 146px;

  background-image: url(img/features/application.jpg);
  background-repeat: no-repeat;
}

/*//////////////////////////COMPANY-INFO-LIST//////////////////////*/

.company-info-list {
  position: relative;
  display: flex;
  justify-content: center;

  margin-top: 135px;
  height: 409px;
}

.company-info-list::before {
  content: "";
  position: absolute;
  background-image: url("img/icon/divide.png");
  width: 1160px;
  height: 2px;
  background-repeat: no-repeat;
  background-position: 0 0;
  top: -40px;
}

.company-info-list::after {
  content: "";
  position: absolute;
  background-image: url("img/icon/divide.png");
  width: 1160px;
  height: 2px;
  background-repeat: no-repeat;
  background-position: 0 0;
  bottom: -80px;
}

.about-company {
 width: 650px;
 height: 369px;
}

.about-company-title {
  margin-top: 35px;
  padding: 0;
  margin-bottom: 35px;
  width: 650px;

  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about-company-info {
 margin-bottom: 35px;

 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
}

/*///////////////////////WORK/////////////////////*/

.work-title {
  margin-bottom: 25px;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.work-list {
 position: relative;
 margin-left: 35px;
 margin-bottom: 25px;

 font-size: 16px;
 font-weight: 400;

}

.work-list::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -34px;

  width: 25px;
  height: 2px;

  background-image: url("img/icon/divide-red.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

/*////////////////////////DETAILS-STATISTICA////////////*/

.detail-statistica {
 width: 360px;
 margin-left: 150px;
}

.detail-title {
 margin-top: 30px;
 margin-bottom: 57px;

 font-size: 16px;
 font-weight: 700;
 line-height: 24px;
 text-transform: uppercase;
 text-align: center;
}

.detail-value-precent {
  padding-right: 23px;
  font-size: 45px;
  font-weight: 700;
  line-height: 10px;
}

.detail-title-precent {
 padding-top: 27px;

 font-size: 16px;
 font-weight: 400;
 line-height: 18px;
}

.detail-value-precent span {
  position: relative;

  width: 5px;
  height: 5px;

  font-size: 20px;
  bottom: 18px;
}

/*/////////////////////BREND///////////////////////*/

.brand {
  position: relative;
  margin-top: 126px;
}

.brand-navigation {
 display: flex;
 justify-content: space-around;
 align-items: center;

 margin-left: -15px;
}

.brand-navigation a {
 opacity: 0.3;
}

.brand-navigation li {
 width: 161px;
 margin-right: 55px;
}

.brand-navigation a:hover {
 opacity: 1;
}

.brand-navigation a:focus {
 opacity: 0.1;
}

.brand:after {
  content: "";
  position: absolute;
  background-image: url(img/icon/divide.png);
  width: 1160px;
  height: 2px;
  background-repeat: no-repeat;
  background-position: 0 0;
  bottom: -35px;
}


/*/////////////////MODE///////////////////*/

/*.modal {

}

.modal-title {

}

.modal-info {

  }*/

  .name-form input:focus {
    border-color: #000000;
  }

  input:invalid {
    border-color: #E74246;
  }
  input:valid {
    border-color: #0000000;
  }

  /*///////CATALOG///////////WEB-INFO////CATALOG///////////*/

  .web-info {
    margin-top: 67px;
    height: 165px;
    font-size: 55px;
    text-align: center;
    font-weight: 500;
    line-height: 55px;

    background-color: #eeeeee;
  }

  .sort-title {
    margin: 0px;
    margin-left: 140px;

    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
  }

  .sort-list {
    display: flex;
    margin-left: 266px;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
  }

  .sort-list li:first-child {
    margin-right: 15px;
  }

  .sort-list li:nth-child(2) {
   margin-right: 18px;
 }

 .sort-list a {
  padding-right: 10px;
  opacity: 0.3;
  color: black;
}

.sort-list-up-down {
  display: flex;
  margin-left:36px;
  opacity: 0.2;
}

.sort-list-up-down a:first-child {
  margin-right: 18px;
}


/*////////////////////FILTER/////////////////////*/

/*.regulation-block {

  }*/
  .filter {
    margin-top: 17px;
    margin-left: 20px;
    width: 350px;
  }

  .filter-title {
    margin: 0;
    padding: 0;

    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }

  .filter-block {
    margin: 0;
    padding: 0;

    border: none;
  }

  .range-filter {
    width: 260px;
    margin-top: 50px;
  }

  .range-controls {
    position: relative;

    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #f1f1f1;
    border-radius: 5px;
  }

  .range-controls .scale {
    height: 2px;

    background: #d7dcde;
  }

  .range-controls .bar {
    width: 70%;
    height: 2px;

    background: #00ca74;
  }

  .range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
  }

  .range-controls .toggle-min {
   left: 18px;
 }

 .range-controls .toggle-max {
  margin-bottom: 56px;
  left: 160px;
}

.price-controls {
  margin-bottom: 55px;
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 9px;
  margin-left: 10px;

  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.option-title {
  margin-bottom: 15px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.option-list {
  margin-top: 21px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.option-check-list {
  position: relative;
  margin-bottom: 12px;


  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.check-box {
  position: absolute;
  top: 2px;
  left: 38px;
  letter-spacing: 1px;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=checkbox]:checked + label::before {
  content: url("../img/icon/checkbox-on.svg");
}

input[type=checkbox]:checked:hover + label::before,
input[type=checkbox]:checked:focus + label::before {
  cursor: pointer;
  opacity: 0.6;
}

input[type=ckeckbox]:checked:active + label::before {
  content: url("../img/icon/checkbox-off.svg");
}

input[type=checkbox]:checked:disabled + label::before {
  opacity: 0.25;
}

input[type=checkbox]:not(:checked) + label::before {
  content: url("../img/icon/checkbox-off.svg");
}

input[type=checkbox]:not(:checked):hover + label::before,
input[type=checkbox]:not(:checked):focus + label::before {
  cursor: pointer;
  opacity: 0.6;
}

input[type=checkbox]:not(:checked):active + label::before {
  content: url("../img/icon/checkbox-on.svg");
}

input[type=checkbox]:not(:checked):disabled + label::before {
  opacity: 0.25;
}



input[type=radio]:checked + label::before {
  content: url("../img/icon/radio-on.svg");
}

input[type=radio]:checked:hover + label::before,
input[type=radio]:checked:focus + label::before {
  cursor: pointer;
  opacity: 0.6;
}

input[type=radio]:checked:active + label::before {
  content: url("../img/icon/radio-off.svg");
}

input[type=radio]:checked:disabled + label::before {
  opacity: 0.25;
}

input[type=radio]:not(:checked) + label::before {
  content: url("../img/icon/radio-off.svg");
}

input[type=radio]:not(:checked):hover + label::before,
input[type=radio]:not(:checked):focus + label::before {
  cursor: pointer;
  opacity: 0.6;
}

input[type=radio]:not(:checked):active + label::before {
  content: url("../img/icon/radio-on.svg");
}

input[type=radio]:not(:checked):disabled + label::before {
  opacity: 0.25;
}

/*///////////////CVATALOG-INFO//////////////////*/

.catalog-global {
  display: flex;
}

.catalog {
  position: relative;
}

.catalog-head {
  position: absolute;
  top: 31px;
  opacity: 0.2;
  transition: opacity 0.6s ease;
}

.catalog-sort {
  margin-top: 18px;
  display: flex;
  align-items: baseline;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;

  margin-left: 100px;
  margin-top: 20px;
}

.catalog-image {
  margin-top: 69px;
}

.catalog-item {
  position: relative;
  margin-left: 40px;
}

.catalog-image:after {
  position: absolute;
  top: 80px;
  background-image: url("img/batton/browser.svg");
}

.catalog-title a{
  margin-bottom:15px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-info-desct {
  margin-bottom: 45px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  width: 300px;
  text-align: center;

  color: #666666;
}

.catalog-info {
  display: block;
  position: absolute;
  top: 61%;
  left: 0%;
  width: 300px;
  height: 200px;
  background-color: #eeeeee;
  text-align: center;
  padding: 25px 30px;
  opacity: 0;
  transition: opacity 0.6s ease;
}

li.catalog-item:hover section.catalog-info {
  opacity: 1;
}

li.catalog-item:hover .catalog-head {
 opacity: 1;
}

.catalog-title a:hover {
  color: #fb565a;
}

.catalog-title a:focus {
  color: #b2b2b2;
}


/*////////////////////PAGINATION////////////////*/

.pagination {
 display: flex;

 margin-left: 69px;
}

.pagination-nav {
 display: flex;
 justify-content: center;
 margin-top: 55px;
}

.pagination-item {
 margin:0px 4px;
 padding: 10px 20px;

 background-color: #eeeeee;
 border-radius: 2px 2px 2px 2px;
 border: 2px solid #eeeeee;
}

.pagination-item a {
  color:black;
}


/*/////////////////FOOTER///////////////////////*/

/*.footer {

  }*/

  .contact {
    position: absolute;
    z-index: 2;
    bottom: 63px;
    left: 140px;

    width: 319px;
    height: 308px;

    background-color: #ffffff;
  }

  .contact-title {
    margin-top: 50px;
    margin-left: 50px;

    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
  }

  .contact-address {
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 15px;

    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;

    color: #666666;
  }

  .tel {
    margin-left: 50px;

    color: #666666;
  }

  .map {
    position: relative;
    right: 120px;
    margin-top:120px;
  }

  .map-catalog {
    position: relative;
    right: 120px;
    margin-top: 61px;
  }

  .pin {
    position: absolute;
    z-index: 1;
    top: 89px;
    right: 150px;

    width: 231px;
    height: 190px;

    background-image: url("img/map-contact/map-marker.png");
  }


  /*/////////////////////FOOTER-SOCIAL//////////////*/

  .footer-social {
   margin-top: 59px;
   display: flex;
 }

 .social-title {
   margin-bottom: 12px;
   margin-top: 10px;

   font-weight: 700;
   font-size: 36px;
   line-height: 36px;
 }

 .social-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.social-list {
 display: flex;
 flex-wrap: wrap;
 width: 280px;
 margin: 0 auto;
 padding: 0;
}


.social-button {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 79px;
  height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-two {
  margin-left: 20px;
  margin-right: 120px;
}

.social-list:firts-child {
 margin-right: 12px;
}

.social-button:hover {
  background-color:#e74246;
}

.social-button:active path {
 fill: #e37376;
}

.footer {
  margin-bottom: 45px;
}

