
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2'), url('../fonts/roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotobold.woff2') format('woff2'), url('../fonts/robotobold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/robotomedium.woff2') format('woff2'), url('../fonts/robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}
/*/////////////////////VISUALLY-HIDDEN////////////////////////////*/

body > * {outline: 1px solid red}
body > * > * {outline: 1px solid yellow}
body > * > * > * {outline: 1px solid green}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.reset-text {
 margin: 0;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
 color: red;
}

.btn-red {
  background-color: #fb565a;
  color: #fefaee;
}

.btn-green {
  background-color: #00ca74;
  color: #fefaee;
}

.btn-yellow {
  background-color: #efc84a;
  color: #fefaee;
}

.btn-white {
  background-color: #eeeeee;
}

/*////////////////////////MAIN//////////////////////*/


.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.main-header {
  margin bottom:545px;
  background-color: #eeeeee;
}

.main-navigation  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  background-color: #eeeeee;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.user-navigation {
  margin-right: 120px;
  list-style: none;
}

.main-header-logo {
  margin-left: 90px;

}

.container {
  width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}


/*///////////////////SLIDER////////////////////////////*/

.slider {
  display: flex;
  flex-direction: column;
}

/*.slider-item {}*/

.slider-title-one {
 width: 376px;
 height: 106px;
 font-size: 40px;
 font-weight: 500;
 line-height: 45px;
}

.slider-title-two {
 width: 515px;
 height: 109px;
 font-size: 40px;
 font-weight: 500;
 line-height: 55px;
}

.slider-title-there {
 width: 408px;
 height: 106px;
 font-size: 40px;
 font-weight: 500;
 line-height: 55px;
}

.slider-info-one {
  width: 361px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

}

.slider-info-two {
  width: 409px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

}

.slider-info-there {
  width: 343px;
  height: 41px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/*////////////////////////////features///////////////*/

.features {
  width: 1160px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 0px;
}

.web-sity {
  width: 300px;
}

.web-sity-title {
  margin-right: 30px;
  margin-bottom: 26px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.web-sity-info {
  width: 238px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
 }

.application {
 width: 300px;
}

 .application-title {

  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
 }

 .application-info {
  width: 239px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
 }

 .presentation {
  width: 300px;
 }

 .presentation-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
 }

 .presentation-info {
  width: 213px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
 }

/*//////////////////////////COMPANY-INFO-LIST//////////////////////*/

.company-info-list {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.about-company {
  margin-left: 110px;
}

.about-company-title {
  width: 650px;
  height: 87px;
  font-size: 40px;
  font-weight: 500;
  line-height: 45px;
}

.about-company-info {
 width: 616px;
 height: 40px;
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
}

/*///////////////////////WORK/////////////////////*/

/*.work {}*/

.work-title {
 font-size: 14px;
 font-weight: 700;
 line-height: 24px;
 text-transform: uppercase;
}

.work-list {
 font-size: 14px;
 font-weight: 400;
}

/*////////////////////////DETAILS-STATISTICA////////////*/

.detail-statistica {
  margin-right: 140px;
}

.detail-title {
 font-size: 14px;
 font-weight: 700;
 line-height: 24px;
 text-transform: uppercase;
}

/*.detail-info {}*/

.detail-value-precent {
font-size: 40px;
font-weight: 700;
line-height: 10px;
}

.detail-title-precent {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

/*/////////////////////BREND///////////////////////*/

.brend {
 width: 1150px;
 margin-top: 124px;
}

.brend-navigation {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}



/*/////////////////MODE///////////////////*/

/*.modal {

}

.modal-title {

}

.modal-info {

}*/

.name-form input:focus {
  border-color: #000000;
}

input:invalid {
  border-color: #E74246;
}
input:valid {
  border-color: #0000000;
}

/*///////CATALOG///////////WEB-INFO////CATALOG///////////*/

.web-info {
 padding-top: 25px;
 padding-bottom: 25px;
 margin-left: 460px;
 font-size: 40px;
 font-weight: 500;
 line-height: 55px;
 background-color: #eeeeee;
}

.sort {
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.sort-title {
font-size: 14px;
font-weight: 700;
line-height: 30px;
text-transform: uppercase;
}

.sort-list {
 font-size: 14px;
 font-weight: 400;
 line-height: 18px;
 text-transform: uppercase;
}

/*.sort-list-top {

}

.sort-list-bottom {

}*/

/*////////////////////FILTER/////////////////////*/

/*.regulation-block {

}*/

.filter-title {
margin-top: 10px;
font-size: 14px;
font-weight: 700;
line-height: 30px;
text-transform: uppercase;
}

.option {
 width: 150px;
}

.filter-title {
padding-bottom: 10px;
font-size: 14px;
font-weight: 700;
line-height: 30px;
text-transform: uppercase;
}

.option-title {
 padding-top: 30px;
}

.option-list {
padding: 10px;
padding-bottom: 10px;
font-size: 14px;
font-weight: 400;
line-height: 20px;
}

.option-check-list {
padding-bottom: 10px;
font-size: 14px;
font-weight: 400;
line-height: 20px;
}

/*/////////////////TEMPLATE///////////////////*/

/*.template {

}

.template-list {

}*/

/*///////////////CVATALOG-INFO//////////////////*/

.catalog-global {
  display: flex;
  justify-content: space-between;
}
.catalog {
  display: flex;
  flex-wrap: wrap;
  margin-left: 90px;
}

.catalog-image-wrapper {
 width: 400px;
}


/*.catalog-list {}

.catalog-item {}

.catalog-image {}*/

.catalog-info-wrapper {
  width: 362px;
  background-color: #eeeeee;
}

.catalog-title {

 font-size: 14px;
 font-weight: 700;
 line-height: 30px;
 text-transform: uppercase;
}

.catalog-info {
 font-size: 16px;
 font-weight: 400;
 line-height: 18px;
}

/*////////////////////PAGINATION////////////////*/

.pagination {
 display: flex;
 justify-content: center;
 margin:0px 50px;
}

.pagination-nav {
 display: flex;
 justify-content: center;
 margin-right: 500px;
}

.pagination-item {
 margin:0px 15px;
 background-color: #eeeeee;
}


/*/////////////////FOOTER///////////////////////*/

/*.footer {

}

.contact {

}*/

.contact-title {
 font-size: 14px;
 font-weight: 700;
 line-height: 30px;
 text-transform: uppercase;
}

.contact-address {
 font-size: 16px;
 font-weight: 400;
 line-height: 18px;
}

/*/////////////////////FOOTER-SOCIAL//////////////*/

.footer-social {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.social-one {
 line-height: 6px;
}

.social-title {
 margin-right: 270px;
 font-weight: bold;
 font: inherit;
 font-size: 30px;
 line-height: 6px;
}

/*.social-info {

}

.social-two {

}

.social-list {

}*/
