
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}
/*/////////////////////VISUALLY-HIDDEN////////////////////////////*/

body > * {outline: 1px solid red}
body > * > * {outline: 1px solid yellow}
body > * > * > * {outline: 1px solid green}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reset-fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.reset-text {
 margin: 0;
}

.button {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}

.button-say {
   padding: 15px 45px;
  background-color: #fb565a;
  color:#ffffff;
  position: relative;
  top: 45px;
  left: 50px;
  border-radius: 2px 2px 2px 2px;
  font-size: 16px;
font-weight: 500;
line-height: 18px;
text-transform: uppercase;
}

.button-say:hover {
  background-color: #e74246;
}

.button-say:focus {
   background-color: #d7373b;
 color: #e27173;
}

.button-red:hover {
  background-color: #e74246;
}

.button-red:focus {
 background-color: #d7373b;
 color: #e27173;
}

.button-green:hover {
 background-color: #00bc6c;
}

.button-green:focus {
 background-color: #00aa62;
 color: #42c08a;
}

.button-yellow:hover {
  background-color: #eab534;
}

.button-yellow:focus {
 background-color: #e5a722;
 color: #edc164;
}

.button-red {
  position: relative;
  top: 35px;
  border-radius: 2px 2px 2px 2px;
  padding: 15px 40px;
  background-color: #fb565a;
  color: #fefaee;
  font-size: 16px;
font-weight: 500;
line-height: 18px;
text-transform: uppercase;
}


.button-green {
  position: relative;
  top: 35px;
    border-radius: 2px 2px 2px 2px;
  padding: 15px 40px;
  background-color: #00ca74;
  color: #fefaee;
  font-size: 16px;
font-weight: 500;
line-height: 18px;
text-transform: uppercase;
}

.button-yellow {
  position: relative;
  top: 35px;
    border-radius: 2px 2px 2px 2px;
  padding: 15px 40px;
  background-color: #efc84a;
  color: #fefaee;
  font-size: 16px;
font-weight: 500;
line-height: 18px;
text-transform: uppercase;
}

.button-next {
      padding: 13px 78px;
      margin-left: 10px;
  background-color: #eeeeee;
  font-size: 16px;
font-weight: 500;
line-height: 18px;
text-transform: uppercase;
text-align: center;
border-radius: 2px 2px 2px 2px;
color: #0e0e0e;
border-top: 2px solid #eeeeee;
}

.pagination-item:hover {
  background-color: #bfbfbf;
  border-top: 2px solid #bfbfbf;
}

.pagination-item:active {
  background-color: #d5d5d5;
  color: #989898;
  border-top: 2px solid #c0c0c0;
}

.button-next:hover {
  background-color: #bfbfbf;
  border-top: 2px solid #bfbfbf;
}

.button-next:active {
  background-color: #d5d5d5;
  color: #989898;
  border-top: 2px solid #c0c0c0;
}

.button-present {
  padding: 15px 92px;
  border-radius: 2px 2px 2px 2px;
  background-color: #eeeeee;
  color: #030303;
  font-size: 16px;
font-weight: 500;
line-height: 18px;
text-transform: uppercase;
}
/*////////////////////////MAIN//////////////////////*/


.site-navigation a,
.user-navigation a {
  color: #000000;
  padding-bottom: 10px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.main-header {
  margin bottom:545px;
  background-color: #eeeeee;
}

.main-navigation  {
  display: flex;
  justify-content: space-between;

  font-size: 16px;
  font-weight: 500;
  line-height: 30px;

  color: #000000;
  background-color: #eeeeee;
  text-align: center;
}

.site-navigation {
  display: flex;
  justify-content: center;
  align-content: center;

  margin-top: 25px;
}

.site-navigation li {
}

.site-navigation a {
  margin-right: 45px;
  text-transform: uppercase;
}

.user-navigation {
 margin-top: 20px;
 margin-right: 20px;

 text-transform: uppercase;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 41px;
}

.login-link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 2px;

  width: 15px;
  height: 15px;

  background-image: url("img/cart.svg");
  background-repeat:  0 0;
}

.main-header-logo {
  margin-left: 20px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


/*///////////////////SLIDER////////////////////////////*/

.slider {
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: #eeeeee;
}

.slider-item {
 width: 100%;
 display: none;
 overflow: hidden;
}

.slider-item.active {
 display: block;
}

.slider-title-one {
 width: 376px;
 height: 106px;

 font-size: 40px;
 font-weight: 500;
 line-height: 45px;
}

.slider-title-two {
 width: 515px;
 height: 109px;

 font-size: 40px;
 font-weight: 500;
 line-height: 55px;
}

.slider-title-there {
 width: 408px;
 height: 106px;

 font-size: 40px;
 font-weight: 500;
 line-height: 55px;
}

.slider-info-one {
  position: relative;
  top: 20px;

  width: 361px;
  height: 40px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.slider-info-two {
  width: 409px;
  height: 40px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

}

.slider-info-there {
  width: 343px;
  height: 41px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.slider-info {

}
/*////////////////////////////features///////////////*/

.features {
 display: flex;
 justify-content: center;
 justify-content: space-between;

 margin-left: 20px;
 width: 1200px;
}



.web-sity {
  width: 400px;
}


.web-sity-title {
  position: relative;

  padding-top: 190px;
  margin-bottom: 15px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.web-sity-info {
  width: 244px;
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.application {
 width: 400px;
}

.application-title {
  position: relative;

  margin-bottom: 15px;
  padding-top: 190px;

  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.application-info {
  width: 239px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.presentation {
  width: 400px;
}

.presentation-title {
  position: relative;

  margin-bottom: 15px;
  padding-top: 190px;


  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.presentation-info {
  width: 240px;
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.web-sity h3::after {
  content: "";

  position: absolute;
  top: 20px;
  right: 100px;
  width: 300px;
  height: 146px;

  background-image: url(img/illustration-1.jpg);
  background-repeat: 0 0;
}

.application h3::after {
  content: "";

  position: absolute;
  top: 20px;
  right: 100px;
  width: 300px;
  height: 146px;
  background-image: url(img/illustration-2.jpg);
  background-repeat: 0 0;
}

.presentation h3::after {
  content: "";

  position: absolute;
  top: 20px;
  right: 100px;
  width: 300px;
  height: 146px;

  background-image: url(img/illustration-3.jpg);
  background-repeat: 0 0;
}

/*//////////////////////////COMPANY-INFO-LIST//////////////////////*/

.company-info-list {
  display: flex;
  justify-content: center;

  margin-top: 100px;
  height: 409px;
}

.about-company {
 width: 650px;
 height: 369px;
 margin-left: 20px;
}

.about-company-title {
  margin-top: 35px;
  padding: 0;
  margin-bottom: 35px;
  width: 650px;

  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about-company-info {
 margin-bottom: 35px;

 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
}

/*///////////////////////WORK/////////////////////*/

/*.work {}*/

.work-title {
  margin-bottom: 25px;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.work-list {
 position: relative;
 margin-left: 35px;
 margin-bottom: 25px;

 font-size: 16px;
 font-weight: 400;

}

.work-list::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -34px;

  width: 25px;
  height: 2px;

  background-image: url("img/Layer_23_copy_5.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

/*////////////////////////DETAILS-STATISTICA////////////*/

.detail-statistica {
 width: 3600px;
 margin-left: 150px;
}

.detail-title {
 margin-top: 27px;
 margin-right: 15px;
 margin-bottom: 57px;

 font-size: 16px;
 font-weight: 700;
 line-height: 24px;
 text-transform: uppercase;
 text-align: center;
 text-align: center;
}

/*.detail-info {}*/

.detail-value-precent {
  font-size: 45px;
  font-weight: 700;
  line-height: 10px;
}

.detail-title-precent {
 padding-top: 35px;

 font-size: 16px;
 font-weight: 400;
 line-height: 18px;
}

.detail-value-precent span {
  position: relative;

  width: 5px;
  height: 5px;

  font-size: 20px;
   bottom: 18px;
}

/*/////////////////////BREND///////////////////////*/

.brand {

}

.brand-navigation {
 display: flex;

 margin-left: 50px;
}

.brand-navigation a {
 display: block;
 opacity: 0.3;
}

.brand-navigation li {
 width: 300px;
}

.brand-navigation a:hover {
 opacity: 1;
}

.brand-navigation a:focus {
 opacity: 0.1;
}
/*/////////////////MODE///////////////////*/

/*.modal {

}

.modal-title {

}

.modal-info {

  }*/

  .name-form input:focus {
    border-color: #000000;
  }

  input:invalid {
    border-color: #E74246;
  }
  input:valid {
    border-color: #0000000;
  }

  /*///////CATALOG///////////WEB-INFO////CATALOG///////////*/

  .web-info {
   font-size: 55px;
   text-align: center;
   font-weight: 500;
   line-height: 55px;

   background-color: #eeeeee;
 }

 .sort-title {
  position: absolute;
  left: 140px;

  margin: 0px;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-list {
  display: flex;
  margin-left: 480px;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-list a {
  padding-right: 25px;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: black;

}
/*.sort-list-top {

}

.sort-list-bottom {

  }*/

  /*////////////////////FILTER/////////////////////*/

/*.regulation-block {

  }*/
  .filter {
    margin-left: 20px;
    width: 350px;
  }

  .filter-title {
    margin: 0;
    padding: 0;

    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
  }

  .filter-block {
    margin: 0;
    padding: 0;

    border: none;
  }

  .range-filter {
    width: 260px;
    margin-top: 56px;
  }

  .range-controls {
    position: relative;

    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #f1f1f1;

    border-radius: 5px;
  }

  .range-controls .scale {
    height: 2px;

    background: #d7dcde;
  }

  .range-controls .bar {
    width: 70%;
    height: 2px;

    background: #00ca74;
  }

  .range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
  }

  .range-controls .toggle-min {
   left: 18px;
 }

 .range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.option {
}

.option-title {
  margin-bottom: 25px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.option-list {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.option-check-list {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=checkbox]:checked + label::before {
  content: url("../img/icon/checkbox-on.svg");
 margin-right: 10px;
}

input[type=checkbox]:checked:hover + label::before,
input[type=checkbox]:checked:focus + label::before {
  cursor: pointer;
  opacity: 0.6;
}

input[type=ckeckbox]:checked:active + label::before {
  content: url("../img/icon/checkbox-off.svg");
  margin-right: 10px;
}

input[type=checkbox]:checked:disabled + label::before {
  opacity: 0.25;
}

input[type=checkbox]:not(:checked) + label::before {
  content: url("../img/icon/checkbox-off.svg");
margin-right: 10px;
}

input[type=checked]:not(:checked):hover + label::before,
input[type=checked]:not(:checked):focus + label::before {
  cursor: pointer;
  opacity: 0.6;
}

input[type=checkbox]:not:checked:active + label::before {
  content: url("../img/icon/checkbox-on.svg");
  margin-right: 10px;
}

input[type=checkbox]:not:checked:disabled + label::before {
  opacity: 0.25;
}



input[type=radio]:checked + label::before {
  content: url("../img/icon/radio-on.svg");
  margin-right: 10px;

}

input[type=radio]:checked:hover + label::before,
input[type=radio]:checked:focus + label::before {
  cursor: pointer;
  opacity: 0.6;
}

input[type=radio]:checked:active + label::before {
  content: url("../img/icon/radio-off.svg");
  margin-right: 10px;
}

input[type=radio]:checked:disabled + label::before {
  opacity: 0.25;
}

input[type=radio]:not(:checked) + label::before {
  content: url("../img/icon/radio-off.svg");
  margin-right: 10px;
}

input[type=radio]:not(:checked):hover + label::before,
input[type=radio]:not(:checked):focus + label::before {
  cursor: pointer;
  opacity: 0.6;
}

input[type=radio]:not(:checked):active + label::before {
  content: url("../img/icon/radio-on.svg");
  margin-right: 10px;
}

input[type=radio]:not(:checked):disabled + label::before {
  opacity: 0.25;
}


/*/////////////////TEMPLATE///////////////////*/

/*.template {

}

.template-list {

  }*/

  /*///////////////CVATALOG-INFO//////////////////*/

  .catalog-global {
    display: flex;
  }

  .catalog {
    position: relative;
  }

  .catalog-result {}

  .catalog-sort {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .catalog-list {
    display: flex;
    flex-wrap: wrap;

    margin-left: 100px;
    margin-top: 95px;
  }

  .catalog-item {
    margin-left: 40px;
  }

  .catalog-image {}

  .catalog-title {
   font-size: 14px;
   font-weight: 700;
   line-height: 30px;
   text-transform: uppercase;
 }

 .catalog-info {
  width: 360px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #959595;
}

/*////////////////////PAGINATION////////////////*/

.pagination {
 display: flex;
 margin-left: 70px;
}

.pagination-nav {
 display: flex;
 justify-content: center;
}

.pagination-item {
 margin:0px 4px;
 padding: 10px 20px;
 background-color: #eeeeee;
 border-radius: 2px 2px 2px 2px;
     border-top: 2px solid #eeeeee;
     content: black;
}

.pagination-item a {
  color:black;
}


/*/////////////////FOOTER///////////////////////*/

/*.footer {

}*/

.contact {
  position: absolute;
  z-index: 2;
 width: 319px;
 height: 308px;
 background-color: #ffffff;
 bottom: 54px;
  left: 140px;
  }

  .contact-title {
    margin-top: 50px;
    margin-left: 50px;
   font-size: 18px;
   font-weight: 700;
   line-height: 30px;
   text-transform: uppercase;
 }

 .contact-address {
  margin-left: 50px;
      margin-top: 25px;
          margin-bottom: 15px;
   font-size: 16px;
   font-weight: 400;
   line-height: 18px;
   font-style: normal;
   color: #666666;
 }

 .tel {
  margin-left: 50px;
  color: #666666;
}

.map {
  position: relative;
  right: 125px;
}

.pin {
  position: absolute;
  background-image: url("img/map-marker.png");
  width: 231px;
  height: 190px;
  z-index: 1;
  top: 89px;
  right: 150px;
}


 /*/////////////////////FOOTER-SOCIAL//////////////*/

 .footer-social {
   display: flex;
 }

 .social-title {
   margin-bottom: 12px;
   margin-top: 0;

   font-weight: 700;
   font-size: 36px;
   line-height: 36px;
 }

 .social-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.social-list {
 display: flex;
 flex-wrap: wrap;
 width: 280px;
 margin: 0 auto;
 padding: 0;
}


.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
 height: 79px;
 margin-bottom: 10px;
 border-radius: 50%;
  background-color: #e1e1e1;
  margin-right: 10px;
}

.social-two {
  margin-left: 20px;
  margin-right: 120px;
}

.social-list:firts-child {
 margin-right: 12px;
}

.social-button:hover {
  background-color:#e74246;
}

.social-button:active path {
 fill: #e37376;
}

