
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}
/*/////////////////////VISUALLY-HIDDEN////////////////////////////*/

body > * {outline: 1px solid red}
body > * > * {outline: 1px solid yellow}
body > * > * > * {outline: 1px solid green}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.reset-text {
 margin: 0;
}

.button {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}


.btn-red:hover {
  background-color: #e74246;
}

.btn-red:focus {
 background-color: #d7373b;
}

.btn-green:hover {
 background-color: #00bc6c;
}

.btn-green:focus {
 background-color: #00aa62;
}

.btn-yellow:hover {
  background-color: #eab534 ;
}

.btn-yellow:focus {
 background-color: #e5a722 ;
}

.btn-red {
  background-color: #fb565a;
  color: #fefaee;
}


.btn-green {
  background-color: #00ca74;
  color: #fefaee;
}

.btn-yellow {
  background-color: #efc84a;
  color: #fefaee;
}

.btn-white {
  background-color: #eeeeee;
}

/*////////////////////////MAIN//////////////////////*/


.site-navigation a,
.user-navigation a {
  color: #000000;
  padding-bottom: 10px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.main-header {
  margin bottom:545px;
  background-color: #eeeeee;
}

.main-navigation  {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  background-color: #eeeeee;
  text-align: center;
}

.site-navigation {
  margin-top: 25px;
  margin-right: 30px;

}

.site-navigation li {
  display: inline;
}

.site-navigation a {
  margin-right: 45px;
  text-transform: uppercase;
}

.user-navigation {
 margin-top: 12px;
 margin-right: 10px;
 text-transform: uppercase;
}

.main-header-logo {
  margin-left: 20px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


/*///////////////////SLIDER////////////////////////////*/

.slider {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #eeeeee;
}

.slider-item {
 overflow: hidden;
 width: 100%;
 display: none;
}

.slider-item.active {
 display: block;
}

.slider-title-one {
 width: 376px;
 height: 106px;
 font-size: 40px;
 font-weight: 500;
 line-height: 45px;
}

.slider-title-two {
 width: 515px;
 height: 109px;
 font-size: 40px;
 font-weight: 500;
 line-height: 55px;
}

.slider-title-there {
 width: 408px;
 height: 106px;
 font-size: 40px;
 font-weight: 500;
 line-height: 55px;
}

.slider-info-one {
  width: 361px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  top: 20px;

}

.slider-info-two {
  width: 409px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

}

.slider-info-there {
  width: 343px;
  height: 41px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.slider-info {

}
/*////////////////////////////features///////////////*/

.features {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 0px;
}

.web-sity {
  width: 300px;
}

.web-sity-title {
  margin-bottom: 26px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.web-sity-info {
  width: 238px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.application {
 width: 300px;
}

.application-title {

  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.application-info {
  width: 239px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.presentation {
  width: 300px;
}

.presentation-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.presentation-info {
  width: 213px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/*//////////////////////////COMPANY-INFO-LIST//////////////////////*/

.company-info-list {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.about-company {

}

.about-company-title {
  width: 650px;
  height: 87px;
  font-size: 40px;
  font-weight: 500;
  line-height: 45px;
}

.about-company-info {
 width: 616px;
 height: 40px;
 font-size: 16px;
 font-weight: 400;
 line-height: 24px;
}

/*///////////////////////WORK/////////////////////*/

/*.work {}*/

.work-title {
 font-size: 16px;
 font-weight: 700;
 line-height: 24px;
 text-transform: uppercase;
}

.work-list {
 font-size: 14px;
 font-weight: 400;
}

/*////////////////////////DETAILS-STATISTICA////////////*/

.detail-statistica {

}

.detail-title {
 font-size: 14px;
 font-weight: 700;
 line-height: 24px;
 text-transform: uppercase;
}

/*.detail-info {}*/

.detail-value-precent {
  font-size: 40px;
  font-weight: 700;
  line-height: 10px;
}

.detail-title-precent {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

/*/////////////////////BREND///////////////////////*/

.brand {
  width: 1200px;
}

.brand-navigation {
 display: flex;
 justify-content: space-around;
}


/*/////////////////MODE///////////////////*/

/*.modal {

}

.modal-title {

}

.modal-info {

  }*/

  .name-form input:focus {
    border-color: #000000;
  }

  input:invalid {
    border-color: #E74246;
  }
  input:valid {
    border-color: #0000000;
  }

  /*///////CATALOG///////////WEB-INFO////CATALOG///////////*/

  .web-info {
   font-size: 55px;
   text-align: center;
   font-weight: 500;
   line-height: 55px;
   background-color: #eeeeee;
 }

 .sort-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
   margin: 0px;
}

.sort-list {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-list a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-right: 7px;
  color: black;

}
/*.sort-list-top {

}

.sort-list-bottom {

  }*/

  /*////////////////////FILTER/////////////////////*/

/*.regulation-block {

  }*/
  .filter {
    margin-left: 20px;
    width: 350px;
  }

  .filter-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
  }

  .filter-block {
    width: 190px;
 }

 .option {
 }

.option-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
 padding-top: 30px;
}

.option-list {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.option-check-list {
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

/*/////////////////TEMPLATE///////////////////*/

/*.template {

}

.template-list {

  }*/

  /*///////////////CVATALOG-INFO//////////////////*/

  .catalog-global {
    display: flex;
  }

  .catalog {}

  .catalog-result {}

  .catalog-sort {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-left: 75px;
  }

  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 170px;
  }

  .catalog-item {
    margin-left: 40px;
  }

  .catalog-image {}

  .catalog-title {
   font-size: 14px;
   font-weight: 700;
   line-height: 30px;
   text-transform: uppercase;
 }

 .catalog-info {
  width: 360px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #959595;
}

/*////////////////////PAGINATION////////////////*/

.pagination {
 display: flex;
 margin-left: 70px;
}

.pagination-nav {
 display: flex;
 justify-content: center;
 margin-left: 100px;
}

.pagination-item {
 margin:0px 15px;
 background-color: #eeeeee;
}


/*/////////////////FOOTER///////////////////////*/

/*.footer {

}

.contact {

  }*/

  .contact-title {
   font-size: 17px;
   font-weight: 700;
   line-height: 30px;
   text-transform: uppercase;
 }

 .contact-address {
   font-size: 16px;
   font-weight: 400;
   line-height: 18px;
 }

 /*/////////////////////FOOTER-SOCIAL//////////////*/

 .footer-social {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }

 .social-one {
   line-height: 6px;
 }

 .social-title {
   margin-right: 240px;
   margin-bottom: 12px;
   font-weight: 700;
   font-size: 36px;
   line-height: 36px;
 }

 .social-info {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.social-list a {
  background-color: #e1e1e1;
}

.social-two {
 display: flex;
align-items: center;
justify-content: center;
}

.social-vk {

}

.social-fb {

}

.social-in {

}

.social-list {

}

